body {
  font-family: 'Titillium Web', sans-serif!important;
}

.content {
  background-color: #323f4b !important;
}
.footer {
  background-color: #1F2933 !important;
  color: white !important;
}

.login-form {
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  color: #F1C6A3 !important;
}
.show-adder__form__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hall-form__field {
  margin-left: 15px;
}
.show-display__button {
  word-break: normal;
}
.movie-details__field {
  word-break: break-word;
  display: flex;
  flex-direction: column;
}
.screen__text {
  border-style:solid;
  text-align: center;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 20%;
}

.incrementor {
  display: flex;
  flex-direction: row;
}
  .incrementor > p {
      margin-left: 10px;
      margin-right: 10px;
  }
.delete-action__row {
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30%;
  margin-right: 30%;
  flex-direction: row;
  display: flex;
  border-style: solid;
  border-radius: 9px;
}
  .delete-action__row > p {
    color: #F1C6A3;
  } 
.seat__chosen {
  background-color: #7d98c9;
}
.navbar__dropdown__menu {
  background-color: #1F2933 !important;
}
.navbar__dropdown__menu__item:hover {
  background-color: #323f4b !important;
}
  .seat__bought {
    cursor: default !important;
    background-color: #900303;
  }

.seat__reserved {
  cursor: default !important;
  background-color: #FF8049 !important;
}
.movie-details__fields {
  margin-left: 20px !important;
  display: flex;
  flex-direction: column;
}
.movie-details__field > p {
  color: #F1C6A3;
  text-decoration: underline;
  margin-bottom: -3px;
}
.movie-details__field__label {
  color: white;
}
.movie-details {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
}
.hall-form__button {
  margin-top: 15px;
  margin-left: 40%;
  margin-right: 40%;
}
.hall-form {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  color: #F1C6A3 !important;
}
.hall-seats {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin-bottom: -16px;
}
.seat-adder__form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}
.movie-hero__card {
  width: calc(25% - 10px);
  margin-top: 15px;
  border: 1px solid lightgrey !important;
  display: flex !important; /* new */
  flex-direction: column !important; /* new */
}

.movie-hero__card__reveal {
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
}

.seat {
  cursor:pointer;
  color: #F1C6A3;
  width: 40px;
  line-height: 40px;
  /* border-radius: 50%; */
  text-align: center;
  font-size: 23px;
  border: 2px solid #666;
}
.seat__clicked  {
  color: #F1C6A3;
  width: 40px;
  line-height: 40px;
  /* border-radius: 50%; */
  text-align: center;
  font-size: 23px;
  border: 2px solid #666;
}

.row-index {
  color: white;
  display: flex;
  margin-right: 18px;
  /* text-align: center; */
  width: 2em;
  align-items: center;
}

  .movie-hero__card__reveal:hover {
    height: auto;
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
  }
.movies-hero {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  flex-wrap: wrap;
  background-color: #323f4b !important;
}

.movie-hero__card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer__column__header {
  color: #F1C6A3;
  margin-bottom: 10px;
  margin-top: 15px;
}

.card-body {
  background-color: #1F2933;
  color: white;
}

.footer__column__link:hover {
  cursor: pointer;
}

.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar__link {
  color: #F1C6A3 !important;
}

.cinema_logo {
  width: 120px !important;
}

.footer__column--center {
  margin: auto;
  padding: 5px;
  text-align: center;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

  #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
  }
  
@media only screen and (max-width: 600px) {
  .seat {
  }
}
