@page "/payment/{Id:int}/success/{SessionId:guid}"
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IMailService MailService
@using Newtonsoft.Json
<div class="payment__success">
    <h3>Payment Successful</h3>
    <h3>Check email for tickets</h3>
    <Icon Name="@("fas fa-check-circle fa-10x")" Class="payment__success-icon" />
</div>

@code { [Parameter]
    public int Id { get; set; }

    [Parameter]
    public Guid SessionId { get; set; }

    public Reservation Reservation { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Reservation = await Http.GetFromJsonAsync<Reservation>("api/reservations/" + Id);
        //SessionId = SessionId.Substring(0, 1);
        //SessionId = SessionId.Substring(SessionId.Length - 1, 1);
        //if (Reservation.Payment.SessionId == SessionId)
        //{
        //    var x = 10;
        //   // await Http.PostAsync("api/reservations/" + Id + "/paid", null);

        //}
        //await Http.PostAsJsonAsync<int>("api/mail/send", Id);
    }
}
