@page "/payment/{Id:int}/success"
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IMailService MailService
@using Newtonsoft.Json
<div class="payment__success">
    <h3>Payment Successful</h3>
    <h3>Check email for tickets</h3>
    <Icon Name="@("fas fa-check-circle fa-10x")" Class="payment__success-icon" />
</div>

@code { [Parameter]
    public int Id { get; set; }

    public Reservation Reservation { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Reservation = await Http.GetFromJsonAsync<Reservation>("api/reservations/" + Id);
        await Http.PostAsync("api/reservations/" + Id + "/paid", null);
        //await Http.PostAsJsonAsync<int>("api/mail/send", Id);
    }
  }
