@page "/conditions"
<div class="footer__page">
    <h3>Conditions</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus ligula diam, ac pharetra est tempor vel. Maecenas mollis rhoncus urna, in accumsan nisi rhoncus a. Morbi quis congue tortor. Ut lobortis nisi quis ipsum dictum, id vestibulum orci mattis. Aenean hendrerit sit amet felis ut mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus in lacus nulla. Integer blandit eu lectus vitae dapibus. Morbi eu tristique lacus. Nam tristique condimentum venenatis. Maecenas tempus fermentum velit, id venenatis ligula tempus et. Aenean orci nisl, congue eget ullamcorper ut, finibus et nibh. Cras ultrices porta fermentum. Phasellus fermentum neque ac ipsum condimentum elementum. Ut elit felis, iaculis vel posuere eu, placerat sed lectus. Donec imperdiet augue justo, dictum posuere turpis hendrerit elementum.

        Nam vel neque in elit varius aliquam. Nullam tristique consectetur lacus, quis dignissim odio pellentesque at. Integer euismod magna ut enim porta tempus. Ut fringilla elit sem, sit amet luctus sem scelerisque at. Proin eget ante vel lectus suscipit ornare. Etiam dictum, odio sit amet viverra ultricies, nulla neque aliquet urna, et molestie turpis lectus eget dui. Cras molestie nisi vel efficitur volutpat. Sed ac tellus convallis, vehicula neque ut, feugiat est. Nulla facilisi. Nullam dui nibh, mattis non tincidunt eget, molestie nec nisl. Donec mi enim, scelerisque ut dignissim non, dignissim in metus. Donec molestie nulla nec lectus molestie, id consequat risus tristique. Praesent blandit velit sit amet nisi dapibus tempor. Integer aliquam metus sit amet felis condimentum, eget tempus enim imperdiet.
    </p>
</div>
@code {

}
