<div class="incrementor">
  <Button Color="Color.Primary" Type="ButtonType.Submit" Clicked="DecrementValue">-</Button>
  <p>@Value</p>
  <Button Color="Color.Primary" Type="ButtonType.Submit" Clicked="IncrementValue">+</Button>
</div>

@code {
    public int Value { get; set; } = 0;

    [Parameter]
    public Action<int, string> OnChange { get; set; }

    [Parameter]
    public string Type { get; set; }

    void DecrementValue() {
      Value -= 1;
      if (Value < 0)
      {
        Value = 0;
        OnChange.Invoke(0, Type);
      }
      else
      {
        OnChange.Invoke(-1, Type);
      }
      StateHasChanged();
    }

    void IncrementValue() {
      Value += 1;
      StateHasChanged();
      OnChange.Invoke(1, Type);
    }
}
