@typeparam TItem
@using Blazorise.Icons.FontAwesome
@foreach (var item in ItemList)
{
<div class="delete-action__row">
  <p @onclick="(e => Callback.Invoke(item))">
  @ChildContent(item)
  </p>
  <Blazorise.Icons.FontAwesome.Icon Name="@IconName" @onclick="(e => Callback.Invoke(item))" Style="cursor: pointer" />
</div>
}

@code {
    [Parameter]
    public List<TItem> ItemList { get; set; }

    [Parameter]
    public RenderFragment<TItem> ChildContent { get; set; }

    [Parameter]
    public Action<TItem> Callback { get; set; }

    [Parameter]
    public string IconName { get; set; }

}
