<div class="d-flex justify-content-center loading-circle">
    <div class="spinner-border loading-circle__spinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
@code {

}
