<p class=@("seat " + SeatClassName) @onclick="@OnSeatClick">@GetSeatTypeInString()</p>

@code {

    [Parameter]
    public Seat Seat { get; set; }

    [Parameter]
    public string Mode { get; set; }

    [Parameter]
    public Action<string, string> CallBack { get; set; }

    public string SeatClassName { get; set; } = "";


    private string GetSeatTypeInString()
    {
      return Seat.Type switch
      {
        SeatType.Disabled => "",
        SeatType.Handicapped => "D",
        _ => Seat.Number.ToString()
      };
    }

    public string NumberCopy { get; set; }
    protected override void OnParametersSet()
    {
      NumberCopy = Seat.Number.ToString();
      SeatClassName = Seat.Status switch
      {
        SeatStatus.Free => "",
        SeatStatus.Reserved => "seat__reserved",
        SeatStatus.Bought => "seat__bought",
        SeatStatus.Chosen => "seat__chosen",
        _ => ""
      };
      base.OnParametersSet();
    }
    public void OnSeatClick()
    {
      CallBack.Invoke(NumberCopy.ToString(), Seat.Row.ToString());
    }
}
