<p class=@("seat " + SeatClassName) @onclick="@OnSeatClick">@GetSeatTypeInString()</p>

@code {

    [Parameter]
    public Seat Seat { get; set; }

    [Parameter]
    public string Mode { get; set; }

    [Parameter]
    public Action<string, string> CallBack { get; set; }

    public string SeatClassName { get; set; } = "";


    private string GetSeatTypeInString()
    {
      if (Mode == "hall")
      {
        switch (Seat.Type)
        {
          case SeatType.Classic:
            return Seat.Number.ToString();
          case SeatType.Disabled:
            return "";
          case SeatType.Handicapped:
            return "D";
        }
      }
      return Seat.Number.ToString();
    }

    public string NumberCopy { get; set; }
    protected override void OnInitialized()
    {
      NumberCopy = Seat.Number.ToString();
      if (Seat.Status == SeatStatus.Reserved)
      {
        SeatClassName = "seat__reserved";
      }
      if (Seat.Status == SeatStatus.Bought)
      {
        SeatClassName = "seat__bought";
      }
    }
    public void OnSeatClick()
    {
      if (Mode == "show")
      {
        if (Seat.Status == SeatStatus.Free || Seat.Status == SeatStatus.Chosen)
        {
          switch (Seat.Status)
          {
            case SeatStatus.Free:
              SeatClassName = "seat__chosen";
              break;
            case SeatStatus.Chosen:
              SeatClassName = "";
              break;
          }
        }
      }
      CallBack.Invoke(NumberCopy.ToString(), Seat.Row.ToString());
    }
}
