
<Container Fluid="true" Class="footer">
  <Row Class="footer__row">
    <Column ColumnSize="ColumnSize.IsAuto">
      <div class="footer__column footer__column--center">
        <p class="footer__column__header">VŠEOBECNÉ</p>
        <a class="footer__column__link" href="/onas">O nás</a>
        <a class="footer__column__link" href="/technologie">Technológie</a>
        <a class="footer__column__link" href="/udalosti">Udalosti</a>
        <a class="footer__column__link" href="/kariera">Kariéra</a>
      </div>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
      <div class="footer__column footer__column--center">
        <p class="footer__column__header">UŽITOČNÉ ODKAZY</p>
        <a class="footer__column__link" href="https://www.imdb.com/">IMDB</a>
        <a class="footer__column__link" href="https://www.csfd.cz/">CSFD</a>
      </div>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
      <div class="footer__column footer__column--center">
        <p class="footer__column__header">PODMIENKY</p>
        <a class="footer__column__link" href="/conditions">General</a>
        </div>
    </Column>
  </Row>
</Container>
@code {

}
