
<Container Fluid="true" Class="footer">
  <Row Class="footer__row">
    <Column ColumnSize="ColumnSize.IsAuto">
      <div class="footer__column footer__column--center">
        <p class="footer__column__header">GENERAL</p>
        <a class="footer__column__link" href="/onas">About</a>
        <a class="footer__column__link" href="/technologie">Technologies</a>
        <a class="footer__column__link" href="/udalosti">Events</a>
        <a class="footer__column__link" href="/kariera">Carieer</a>
      </div>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
      <div class="footer__column footer__column--center">
        <p class="footer__column__header">USEFUL LINKS</p>
        <a class="footer__column__link" href="https://www.imdb.com/">IMDB</a>
        <a class="footer__column__link" href="https://www.csfd.cz/">CSFD</a>
      </div>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
      <div class="footer__column footer__column--center">
        <p class="footer__column__header">CONDITIONS</p>
        <a class="footer__column__link" href="/conditions">General</a>
        </div>
    </Column>
  </Row>
</Container>
@code {

}
