
<Container Fluid="true" Class="footer">
  <Row Class="footer__row">
    <Column ColumnSize="ColumnSize.IsAuto">
      <div class="footer__column footer__column--center">
        <p class="footer__column__header">VŠEOBECNÉ</p>
        <a class="footer__column__link">O nás</a>
        <a class="footer__column__link">Technológie</a>
        <a class="footer__column__link">Udalosti</a>
        <a class="footer__column__link">Kariéra</a>
      </div>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
      <div class="footer__column footer__column--center">
        <p class="footer__column__header">UŽITOČNÉ ODKAZY</p>
        <a class="footer__column__link">odkaz1</a>
        <a class="footer__column__link">odkaz1</a>
        <a class="footer__column__link">odkaz1</a>
        <a class="footer__column__link">odkaz1</a>
        <a class="footer__column__link">odkaz1</a>
        <a class="footer__column__link">odkaz1</a>
        <a class="footer__column__link">odkaz1</a>
      </div>
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
      <div class="footer__column footer__column--center">
        <p class="footer__column__header">PODMIENKY</p>
        <a>Podmienka1</a>
        <a>Podmienka2</a>
        <a>Podmienka3</a>
        <a>Podmienka4</a>
      </div>
    </Column>
  </Row>
</Container>
@code {

}
