@inject NavigationManager NavigationManager
<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Primary"
     ThemeContrast="ThemeContrast.Dark">
  <BarToggler />
  <BarMenu>
    <BarStart Class="navbar-menu-center">
      <BarItem>
        <img src="./imgs/cinema_logo.png" class="cinema_logo" />
      </BarItem>
      <BarItem>
        <BarLink To="#home" Style="" Class="navbar__link">PROGRAM</BarLink>
      </BarItem>
      <BarItem>
        <BarLink To="#docs" Class="navbar__link">FILMY</BarLink>
      </BarItem>
      <BarItem>
        <BarLink To="/cinema/new" Style="" Class="navbar__link">PRIDAŤ KINO</BarLink>
      </BarItem>
      <BarItem>
        <BarLink To="/movie/new" Style="" Class="navbar__link">PRIDAŤ FILM</BarLink>
      </BarItem>
      <BarItem>
        <BarLink To="/seats/new" Style="" Class="navbar__link">PRIDAŤ SÁLU</BarLink>
      </BarItem>
      <BarItem>
        <BarLink To="/show/new" Style="" Class="navbar__link">PRIDAŤ PREMIETANIE</BarLink>
      </BarItem>
      <BarItem>
        <BarDropdown>
          <BarDropdownToggle Class="navbar__link">AKCIE</BarDropdownToggle>
          <BarDropdownMenu>
            <BarDropdownItem>Action</BarDropdownItem>
            <BarDropdownItem>Another action</BarDropdownItem>
          </BarDropdownMenu>
        </BarDropdown>
      </BarItem>
    </BarStart>
    <BarEnd>
      <BarItem>
        <Button Color="Color.Primary" @onclick="@(e => NavigateTo("/signup"))">Sign up</Button>
        <Button Color="Color.Secondary" @onclick="@(e => NavigateTo("/login"))">Log in</Button>
      </BarItem>
    </BarEnd>
  </BarMenu>
</Bar>
@code {
    private void NavigateTo(string url) {
      NavigationManager.NavigateTo(url);
    }
}
