@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Primary"
     ThemeContrast="ThemeContrast.Dark">
  <BarToggler />
  <BarMenu>
    <BarStart Class="navbar-menu-center">
      <BarItem>
        <img src="./imgs/cinema_logo.png" class="cinema_logo" @onclick="@(e => NavigateTo("/"))" />
      </BarItem>
      <NavbarMenu/>
    </BarStart>
    <BarEnd>
        <BarItem Class="bar__settings">

            @if (UserLoggedIn)
            {
                @if (IsAdmin)
                {
                    @if(Reload) { <div></div> }
                    <BarDropdown>
                        <BarDropdownToggle Class="navbar__link">Settings</BarDropdownToggle>
                        <BarDropdownMenu Class="navbar__dropdown__menu">
                            <BarDropdownItem Class="navbar__dropdown__menu__item">
                                <BarLink To="/signup" Style="" Class="navbar__link">Create new account</BarLink>
                            </BarDropdownItem>
                            <BarDropdownItem Class="navbar__dropdown__menu__item">
                                <BarLink To="/changepassword" Style="" Class="navbar__link">Change password</BarLink>
                            </BarDropdownItem>
                            <BarDropdownItem Class="navbar__dropdown__menu__item">
                                <BarLink To="/deletedefault" Style="" Class="navbar__link">Delete default admin account</BarLink>
                            </BarDropdownItem>
                        </BarDropdownMenu>
                    </BarDropdown>
                    <Button Color="Color.Primary" @onclick="@(e => NavigateTo("/signup"))">Create account</Button>
                }
                <Button Color="Color.Secondary" @onclick="@(OnLogOutClick)">Log Out</Button> }
            else
            {
                <Button Color="Color.Secondary" @onclick="@(e => NavigateTo("/login"))">Log in</Button>}
        </BarItem>
    </BarEnd>
  </BarMenu>
</Bar>
@code { 
    public bool Reload { get; set; } = false;
    public bool UserLoggedIn { get; set; }
    public bool IsAdmin { get; set; }
    public bool SettingsClicked { get; set; }
    protected override async Task OnInitializedAsync()
    {
        AuthenticationService.OnChange += OnNotify;
        UserLoggedIn = await AuthenticationService.IsLoggedIn();
        IsAdmin = await AuthenticationService.IsUserAdmin();
        Reload = !Reload;
        Console.WriteLine("OnInit " + UserLoggedIn + " " + IsAdmin);
        StateHasChanged();
    }
    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("OMG");
        await Task.Delay(10);
    }
    public void OnSettingsClick()
    {
        SettingsClicked = !SettingsClicked;
        StateHasChanged();
    }


    public async void OnNotify()
    {
        Reload = !Reload;

        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    private void NavigateTo(string url)
    {
        NavigationManager.NavigateTo(url);
    }
    private async void OnLogOutClick()
    {
        await AuthenticationService.LogOut();
        NavigationManager.NavigateTo("/", true);
    } }
